[Desktop Entry]
Version=1.0
Name=CeB
GenericName=MtpChat Client
Comment=CeB is a MtpChat client
Comment[fr]=CeB est un client MtpChat
Exec=ceb %U
Terminal=false
Icon=ceb
Type=Application
Categories=Qt;Network;Chat;
MimeType=application/x-mtpchat;
TryExec=ceb
