Source: cebmtpchat
Section: net
Priority: optional
Maintainer: Guillaume DENRY <guillaume.denry@gmail.com>
Uploaders: Cédric OCHS <kervala@gmail.com>
Build-Depends: debhelper (>= 7.3.0), libqt4-dev, qt4-dev-tools, liblua5.1-0-dev, cmake (>= 2.6), pkg-config
Standards-Version: 3.9.1

Package: cebmtpchat
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: An <Mtp> Chat ! client written in Qt4
 CeB is a multiplatform client for an old type of chat server started at the college and which continues to work :-)
 .
 Homepage: http://code.google.com/p/cebmtpchat

Package: cebmtpchat-dbg
Priority: extra
Section: debug
Architecture: any
Depends: ${misc:Depends}, cebmtpchat (= ${binary:Version})
Description: An <Mtp> Chat ! client written in Qt4 (debug)
 CeB is a multiplatform client for an old type of chat server started at the college and which continues to work :-)
 .
 Homepage: http://code.google.com/p/cebmtpchat
