#!/usr/bin/make -f
%:
	dh --buildsystem=cmake $@

override_dh_strip:
	dh_strip -pcebmtpchat --dbg-package=cebmtpchat-dbg

override_dh_auto_configure:
	dh_auto_configure -- -DETC_PREFIX=/etc/ceb -DWITH_WARNINGS=ON -DWITH_RYZOM=ON -DWITH_QT4=ON -DWITH_QT5=OFF
