#!/usr/bin/make -f
%:
	dh --buildsystem=cmake $@

override_dh_strip:
	dh_strip -pcebmtpchat --dbg-package=cebmtpchat-dbg

override_dh_auto_configure:
	dh_auto_configure -- -DETC_PREFIX=/etc/cebmtpchat -DWITH_EXCEPTIONS=OFF -DWITH_RTTI=OFF
